/* Stylesheet for the index equipments page (the "home") */

body {
  background-color: rgba(222, 192, 170, 0.4);
}

.hero {
  display: flex;
  height: 400px;
  margin: 50px 0 100px 0;
  z-index: -1;

  .hero-box-one {
    // background-color: $orange;
    background-image: url('https://images.unsplash.com/photo-1517960413843-0aee8e2b3285?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2099&q=80');
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    width: 60%;
    margin-right: 10px;
    padding: 30px;
  }

  .hero-box-one h2 {
    color: white;
    font-size: 50px;
    width: 50%;
    font-weight: 700;
    margin-bottom: 90px;
  }

  .hero-button {
    padding: 15px 20px;
    background-color: $yellow;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  .hero-button:hover {
    text-decoration: underline;
  }

  .hero-box-two {
    background-color: $green;
    border-radius: 40px;
    width: 40%;
  }

  .hero-box-two p {
    color: white;
    padding: 30px;
    font-size: 18px;
  }

}

.equipments-container {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 50px;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 50px;
  padding-right: 50px;
  gap: 10px;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  height: 100px;
}

.icon-category {
  justify-self: center;
  text-align: center;
  max-width: 80px;
}

.icon-category a {
  text-decoration: none;

}

.submittedbooking-card {
  overflow: hidden;
  height: 120px;
  width: 600px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 15px;
}

.submittedbooking-card-text a {
  text-decoration: none;
}

.submittedbooking-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.submittedbooking-card-text {
  padding-left: 25px;
}
.submittedbooking-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.submittedbooking-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
