<div class="container">
<% @my_bookings.each do |booking| %>

<p><%= booking.start_date %></p>
<% end %>

</div>
<%#=  each do to see all booking received %>
<%#=  each do to see all booking submitted %>

<% @received_bookings.each do |booking| %>

<p><%= booking.start_date %></p>
<%= link_to "Confirm",  booking_path(booking, {status: "confirmed"}), data: {turbo_method: :patch} %>
<%= link_to "Reject",  booking_path(booking, {status: "cancelled"}), data: {turbo_method: :patch} %>
<% end %>
