<div class="container px-0">
  <div class="icon-container">

    <div class="icon-category"><a href="/?query=hiking"><i class="fa-solid fa-person-hiking" style="font-size: 40px"></i><br>Hiking</a></div>
    <div class="icon-category"><a href="/?query=tents"><i class="fa-solid fa-campground" style="font-size: 40px"></i><br>Tents</a></div>
    <div class="icon-category"><a href="/?query=ski"><i class="fa-solid fa-person-skiing" style="font-size: 40px"></i><br>Ski</a></div>
    <div class="icon-category"><a href="/?query=surf"><i class="fa-solid fa-water" style="font-size: 40px"></i><br>Surf</a></div>
    <div class="icon-category"><a href="/?query=caravan"><i class="fa-solid fa-caravan" style="font-size: 40px"></i><br>Caravans</a></div>

  </div>
</div>
