/* Equipment cards (in index.html.erb) */

.equipment-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  .equipment-card {
    // background-color: white;

    height: 400px;
  }

  /* <%= cl_image_tag equipment.photos.first.key, height: 300, width: 400, crop: :fill %> */

  .equipment-card-img {
    background-position: center;
    background-size: cover;
    height: 60%;
    border-radius: 25px;
  }

  // .equipment-card-img img {
  //   object-fit: cover;
  // }

  .equipment-card-info {
    margin-top: 20px;
    width: 100%;
  }

  // .card-info-username-img {
  //   background-image: url("https://source.unsplash.com/random/");
  //   background-position: center;
  //   background-size: cover;
  //   border-radius: 50%;
  //   height: 30px;
  //   width: 30px;
  //   margin-right: 10px;
  // }

  .equipment-card-category {
    margin-top: 20px;
    color: gray;
  }
}
