.goback-button-edit {
  width: 500px;
  text-align: left;
}

.most-supreme-form-container {
  background-image: url('https://images.unsplash.com/photo-1456425712190-0dd8c2b00156?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');

  h1 {
    color: $green;
    font-weight: 700;
    font-size: 70px;
    padding: 50px 100px 50px 50px;
  }

  img {
    width: 200px;
    text-align: center;
  }
}

.supreme-form-container {
  text-align: center;
  padding: 50px 0;

  h2 {
    font-weight: 700;
    margin-bottom: 40px;
    color: $green;
  }
}

.form-container{
  width: 500px;
  margin: 50px 0;
}

.form-container {
  display: block;
  text-align: left;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px;
  padding: 50px;

  label {
    color: $green;
  }

  abbr {
    color: $red;
  }

  input[type=submit] {
    background-color: $green;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    margin-top: 30px;
    font-weight: 600;
  }


}

.form-actions {
  margin-top: 30px;

  input[type=submit] {
    margin-top: 0;
  }
}

.signup-fill {
  height: 47.5vw;
}

.cancel-account-btn {
  button {
    background-color: transparent;
    border: none;
    color: $red;
  }

  button:hover {
    text-decoration: underline;
  }
}
