.navbar-lewagon {
  justify-content: space-between;
  background: white;
}


.navbar{
  z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.logo {
  height: 30px;
  width: auto;
}

.navbar{
  overflow: hidden;
  position: sticky;
  top: 0;
}
